{%extends "prueba.html" %}

{%block title%}Pagina Principal{% endblock %}

{%block content%}
    <div class="container">
        <div class="row">
            <div class="col-6 bg-success">
                <h1>Bievenido</h1>
				{{request.user}}
            </div>
			<div class="card mb-3">
				<img src="https://www.webconsultas.com/sites/default/files/styles/wch_image_schema/public/temas/elegir-buena-escuela.jpg" class="card-img-bottom" width="200"height="300">
				<div class="card-body">
				  <h5 class="card-title">MISION</h5>
				  <p class="card-text">La Misión constituye la razón de ser, el propósito y las aspiraciones que como institución nos proponemos realizar y lograr en un 
					determinado contexto temporal e histórico. Está plenamente ligada a la visión estratégica de mediano y largo plazo, mas bien, la implementa facilitando
					con ello su realización final. En ese sentido, la UGEL Nº 01-SJM. define su misión institucional en lo siguiente: “Garantizar un servicio educativo de 
					calidad, en todos los niveles y modalidades del sistema educativo, promoviendo la formación integral y desarrollo de la identidad y autoestima del educando,
					que facilite su integración social con hábitos de aprendizaje permanente acorde a los cambios científico tecnológicos, así como a las exigencias del mundo
					globalizado y, gestionar recursos financieros, de personal, infraestructura, desarrollo de tecnologías educativas y todo aquello que sirva de soporte a la 
					mejora permanente del servicio educativo”.</p>
				  <p class="card-text"><small class="text-muted">SERVICIO CON FE EN DIOS</small></p>
				</div>
			  </div>
			  <div class="card">
				<div class="card-body">
				  <h5 class="card-title">VISION</h5>
				  <p class="card-text">La Visión es la imagen futura de la institución educativa. Constituye una declaración de lo que quieren los actores educativos para el 
				   establecimiento de una nueva realidad institucional cualitativamente superior al actual. Resulta un salto hacia el futuro que la comunidad educativa hace 
				   desde su propia realidad actual. Visto desde otro punto de vista, se manifiesta como una idea fuerza, que posee como componente, un poderoso factor motivacional,
				   que a su vez, marca la línea directriz de los actores sociales, capaz de centralizar en un puño monolítico en pro de una “utopía”, que en función de determinados 
				   factores o variables internos o externos, son objetivamente posibles de conseguir. En ese sentido, la Unidad de Gestión Educativa Local Nº 01-SJM. se proyecta para
				   un periodo de mediano y largo plazo, concentrando sus recursos y esfuerzo, en hacer que el año 2010 sea la continuidad estratégica del camino trazado en el año 2009,
				   logrando consolidarnos como líderes en Gestión Educativa y nos constituyamos en una institución en la que principalmente: “Es una Institución reconocida por la comunidad
				   Local, por su gestión eficiente y haber logrado niveles de rendimiento académico de los alumnos por encima del promedio nacional; mantiene liderazgo entre las instituciones
				   similares con propuestas innovadoras en los procesos de gestión con una plana de personal docente y Administrativo competente y motivado que genera un clima organizacional 
				   favorable”.</p>
				  <p class="card-text"><small class="text-muted">CRECE JUNTO A NOSOTROS</small></p>
				</div>
				<img src="https://blogs.iadb.org/desarrollo-infantil/wp-content/uploads/sites/18/2019/04/Primeros-Pasos-29-Marzo-2019-.jpg" class="card-img-bottom" width="200"height="300">
			  </div>
          
        </div>
    </div>

{% endblock %}